canvas{
    /*border: solid purple 3px; */
    flex-grow: 0;
    /*width: 5%;
    height: 120px;
    margin: 0;*/
}

#indicator{
    z-index: 10;
    pointer-events: none;
    border: none;
    position: relative;
}

.volume-container {
    display: flex;
    max-width: 50vw;
    position: static;

}

.canvas-container{
    position: relative;
}

.tool {
    min-width: 70px;
}